.ad-container {
  position: absolute;
  box-sizing: border-box;
  padding: 8px;
  height: calc(100% - 60px);
  width: 100%;
  top: 60px;
  left: 0;
  z-index: 0;
}
.ad-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(125deg,#e8dcdc,#e8d3d3);
}
.ad-card {
  position: relative;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  background: #f2f2f2;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.ad-menu-button {
  position: relative;
  width: 200px;
  height: 100%;
  background: #f2f2f2;
  transition: 0.5s;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15),
              inset 0px -2px 5px rgba(255, 255, 255, 0),
              inset 0px 2px 5px rgba(0, 0, 0, 0);
  outline: none;
  color:black;
  font-size: 25px;
  font-weight: bold;
}
.ad-menu-button:active {
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 0),
              0px 4px 15px rgba(0, 0, 0, 0),
              inset 0px -2px 5px rgba(255, 255, 255,0),
              inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.ad-button-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #f2f2f2;
  transition: 0.5s;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15),
              inset 0px -2px 5px rgba(255, 255, 255, 0),
              inset 0px 2px 5px rgba(0, 0, 0, 0);
  outline: none;
}
.ad-button-circle:active {
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 0),
              0px 4px 15px rgba(0, 0, 0, 0),
              inset 0px -2px 5px rgba(255, 255, 255,0),
              inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.ad-button {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  transition: 0.5s;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15),
              inset 0px -2px 5px rgba(255, 255, 255, 0),
              inset 0px 2px 5px rgba(0, 0, 0, 0);
  outline: none;
  font-weight: bold;
  font-size: 20px;
}
.ad-button:active {
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 0),
              0px 4px 15px rgba(0, 0, 0, 0),
              inset 0px -2px 5px rgba(255, 255, 255,0),
              inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.ad-input {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 20px;
  background: #f2f2f2;
  height: 50px;
  width: 100%;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15),
              inset 0px -2px 5px rgba(255, 255, 255, 0),
              inset 0px 2px 5px rgba(0, 0, 0, 0);
  margin-bottom: 25px;
  border-radius: 8px;
  outline: none;
  font-weight: bold;
}
.ad-input-textarea {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  padding-top: 10px;
  padding-left: 20px;
  background: #f2f2f2;
  height: 150px;
  width: 100%;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15),
              inset 0px -2px 5px rgba(255, 255, 255, 0),
              inset 0px 2px 5px rgba(0, 0, 0, 0);
  margin-bottom: 25px;
  border-radius: 8px;
  outline: none;
  resize: vertical;
  overflow: auto;
}

.popover-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.popover-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.92);
  z-index: 101;
}

.heading-text {
  font-weight: bold;
  font-size: 45px;
}

.radio-large {
  position:relative;
  font-size: 30px;
  font-weight:bold;
  margin-right: 15px;
  color: rgba(100,100,100,0.65);
  border-bottom: 2px solid rgba(10,105,161,0.0);
  outline: none;
  transition: 0.3s;
}
.radio-large:hover {
  color: rgba(10,105,161,0.65);
}
.radio-large-selected {
  color: rgba(0,0,0,1);
  border-bottom: 2px solid rgba(10,105,161,0.5);
}
.radio-disabled {
  position:relative;
  font-size: 30px;
  font-weight:bold;
  margin-right: 15px;
  color: rgba(200,100,100,0.65);
  border-bottom: 2px solid rgba(10,105,161,0.0);
  outline: none;
  transition: 0.3s;
}
.radio-disabled:hover {
  color: rgba(161,10,10,0.65);
  cursor: not-allowed;
}
.spacer1 {
  position:relative;
  height: 8px;
  width: 8px;
  margin-right: 15px;
  display: inline-block;
  border-radius: 100%;
  background: rgba(100,100,100,0.65);
  transform: translateY(-5px);
}
.codeBlock {
  position: relative;
  min-height: 25px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  padding-left: 20px;
  border-radius: 3px;
  border: 2px solid rgba(0,0,0,0.24);
  background: linear-gradient(180deg, rgba(255,255,255,0.5), rgba(255,255,255,0.0));
}